<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @another_example.title %>
</p>

<%= link_to 'Edit', edit_another_example_path(@another_example) %> |
<%= link_to 'Back', another_examples_path %>
